<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sacrifice Starship UI</title>
  <link rel="stylesheet" href="../../styles.css">




<script src="main.js"></script>


<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">  
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>




<script>
$(document).ready(function() {
    $('#items').DataTable( {
        "columnDefs": [
            {
                "targets": [ 0,2 ],
                "visible": false,
                "searchable": false
            }
        ]
    } );
} );
</script>




</head>


<body>
<h1>Item Details Page for: <%= this_item.name %></h1>



    <div> <a href="/">Home</a> </div>
    <div> <a href="/campaign-<%= campaign %>/ship-<%= this_item.ship %>">Back to Ship</a>  </div>
<div class="line"></div>


  


<table id="items" class="display" cellspacing="0"  style="width:100%">
  <thead>
    <tr>
      <% for (var prop in this_item ) { %>
        <th><%= prop %></th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% for (var prop in this_item ) { %>
        <td><%- this_item[prop] %></td>
      <% } %>
    </tr>
  </tbody>

</table>

<%if (auth) { %>

<div class="logout"><a href="/logout">logout</a>  </div>


  <div class="add_container">
    <h2>Create another item</h2>

    <!-- 
      <h4>
      User   <input type="text" placeholder="u/user_name/" name="user"><br>
      Star ID   <input type="text" placeholder="0000:0000:0000:0000" name="id"><br>
      Current Star Name   <input type="text" placeholder="[HUB-X-00] coolname [stuff]" name="name"><br>
      Star Class   <input type="text" placeholder="F9pf" name="class"><br>
      Occupying Race   <input type="text" placeholder="Gek" name="race"><br>
      What was interesting?   <input type="text" placeholder="Ce, Te, Sp, DynRes, Lush, Diplo" name="tags"></h4> -->

      <div class="add_left_col">
         <br> 
        <div> Submit <br> </div>
        <div> Name <br> </div>
        <div> Text <br> <br> <br> </div>
        <div> Type <br> </div>
        

      </div>


      <div class="add_right_col">

        <form action="/campaign-<%= campaign %>/ship-<%= this_item.ship %>/item" method="POST" >
          <div><button type="submit">Submit</button> <BR></div> 
            <input type="text" placeholder="c01s01" name="name">
            <div id="ship" style="display: none;"><input type="text" value="<%= this_item.ship %>" name="ship"></div>
            <textarea name="text" cols="40" rows="5"></textarea>
            <select name="type">
              <option value="Weapon">Weapon</option>
              <option value="Armor">Armor</option>
              <option value="Power">Power</option>
              <option value="Drive">Drive</option>
              <option value="Other">Other</option>
            </select>  <pre></pre>        
            
            <input type="number" placeholder="1" name="health">
            <input type="number" placeholder="1" name="armor">
            <input type="number" placeholder="1" name="repaircost">
            <input type="number" placeholder="1" name="damage">
            <input type="number" placeholder="1" name="ap">
            <input type="number" placeholder="1" name="range">
            <input type="number" placeholder="1" name="maxcharge">
            <input type="number" placeholder="1" name="euh">
            <input type="number" placeholder="1" name="acc">
            <input type="number" placeholder="1" name="speed">
            <input type="number" placeholder="1" name="xport">
            <input type="number" placeholder="1" name="iport">
            <input type="number" placeholder="1" name="cost">
            
        </form>

      </div>

    
  </div>






  <div class="add_container">
    <h2>Edit this item</h2>
      <div class="add_left_col">
         <br> 
        Title  <br>
        Text

      </div>


      <div class="add_right_col">

        <form action="/update_item-<%= this_item.guid %>" method="POST" >
          <button type="submit">Submit</button><br>

            <input type="text" value="<%= this_item.name %>" name="name"><br>
            <input type="text" value="<%= this_item.ship %>" name="ship"><br>
            <textarea name="text" cols="40" rows="5"><%= this_item.text %></textarea>
            <select name="type">
              <option value="Weapon">Weapon</option>
              <option value="Armor">Armor</option>
              <option value="Power">Power</option>
              <option value="Drive">Drive</option>
              <option value="Other">Other</option>
            </select>

            <input type="number" value="<%= this_item.health %>"  name="health">
            <input type="number" value="<%= this_item.armor %>"  name="armor">
            <input type="number" value="<%= this_item.repaircost %>"  name="repaircost">
            <input type="number" value="<%= this_item.damage %>"  name="damage">
            <input type="number" value="<%= this_item.ap %>"  name="ap">
            <input type="number" value="<%= this_item.range %>"  name="range">
            <input type="number" value="<%= this_item.maxcharge %>"  name="maxcharge">
            <input type="number" value="<%= this_item.euh %>"  name="euh">
            <input type="number" value="<%= this_item.acc %>"  name="acc">
            <input type="number" value="<%= this_item.speed %>"  name="speed">
            <input type="number" value="<%= this_item.xport %>"  name="xport">
            <input type="number" value="<%= this_item.iport %>"  name="iport">
            <input type="number" value="<%= this_item.cost %>"  name="cost">
            
        </form>

      </div>

    
  </div>








<% } else { %>

  <div ><a href="/auth/google">google</a>  </div>
  <div ><a href="/auth/github">github</a>  </div>

<% } %>





<script>
$('body').find('br').replaceWith("\n");
$('body').find('p').each(function() {

    $(this).replaceWith("<p>" + $(this).text().replace(/\n/g, '<p>') + "</p>");
});
</script>

<!-- 

  <div>
    <h2>update</h2>
    <button id="update"> Update </button>
  </div>

  <script src="main.js"></script> -->

</body>
</html>