<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sacrifice Starship UI</title>
  <link rel="stylesheet" href="../styles.css">
<!-- 
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">  
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>




<script>
  $(document).ready( function () {
    $('#table_id').DataTable({
      searching: true,
      ordering: true
    });
} );
</script>
 -->
</head>


<body>
<h1>Star Details Page for: <%= this_star.name %> <%= this_star.region %></h1>


    <div> <a href="/">Home</a> </div>
    <div> <a href="/campaign-<%= campaign %>">Back to Campaign</a>  </div>
<div class="line"></div>
    

<P>Details: <BR>  <%= this_star.text %></P>


  <% if (planets.length == 0){ %>
    <P> Please add a planet</P>
  <% }else{ %>
    <p>Planets:</p>



    <% for(var i=0; i<planets.length; i++) {%>
      <div id="<%= planets[i].name %>" class="text_container">
        <p><a href="star-<%= this_star.guid %>/planet-<%= planets[i].guid %>"><%= planets[i].name %></a>
        <BR>
        <%= planets[i].text %></P>

      </div>
      

    <% } %>
  <% } %>




  <% if (msgs.length == 0){ %>
    <P> Please add msgs</P>
  <% }else{ %>
    <p>Messages:</p>


    <% for(var i=0; i<msgs.length; i++) {%>
      
      <%if (msgs[i].visible) { %>
        <div id="<%= msgs[i].guid %>" class="text_container">
          <p><%= msgs[i].text %> </p>
          <a href="/star_msg-<%= msgs[i].guid %>">Edit</a>
        </div>
        <% }else{ %>
          <%if (auth) { %>
            <div id="<%= msgs[i].guid %>" class="text_container">
              <p><%= msgs[i].text %> </p>
              <a href="/star_msg-<%= msgs[i].guid %>">Edit</a>
            </div>
          <% } %>
        <% } %>
    <% } %>
  <% } %>






<%if (auth) { %>

<div class="logout"><a href="/logout">logout</a>  </div>


  <div class="add_container">
    <h2>Create a planet</h2>

    <!-- 
      <h4>
      User   <input type="text" placeholder="u/user_name/" name="user"><br>
      Star ID   <input type="text" placeholder="0000:0000:0000:0000" name="id"><br>
      Current Star Name   <input type="text" placeholder="[HUB-X-00] coolname [stuff]" name="name"><br>
      Star Class   <input type="text" placeholder="F9pf" name="class"><br>
      Occupying Race   <input type="text" placeholder="Gek" name="race"><br>
      What was interesting?   <input type="text" placeholder="Ce, Te, Sp, DynRes, Lush, Diplo" name="tags"></h4> -->

      <div class="add_left_col">
         <br> 
        Title  <br>
        Text

      </div>


      <div class="add_right_col">

        <form action="/campaign-<%= campaign %>/star-<%= this_star.guid %>/planet" method="POST" >
          <button type="submit">Submit</button><br>
            <input type="text" placeholder="planet" name="name">
            <div id="star" style="display: none;"><input type="text" value="<%= this_star.guid %>" name="star"></div>
            <textarea name="text" cols="40" rows="5"></textarea>
        </form>

      </div>

    
  </div>


  <div class="add_container">
    <h2>Add a msg</h2>

      <div class="add_left_col">
         <br> 
        Title  <br>
        Text

      </div>


      <div class="add_right_col">

        <form action="/campaign-<%= campaign %>/star-<%= this_star.guid %>/msg" method="POST" >
          <button type="submit">Submit</button><br>
            <input type="checkbox"  name="visible"><br>
            <div id="star" style="display: none;"><input type="text" value="<%= this_star.guid %>" name="star"></div>
            <textarea name="text" cols="40" rows="5"></textarea>
        </form>

      </div>

    
  </div>





  <div class="add_container">
    <h2>Edit this star</h2>
      <div class="add_left_col">
         <br> 
        Title  <br>
        Text

      </div>


      <div class="add_right_col">

        <form action="/update_star-<%= this_star.guid %>" method="POST" >
          <button type="submit">Submit</button><br>

            <input type="text" value="<%= this_star.name %>" name="name"><br>
            <input type="text" value="<%= this_star.region %>" name="region"><br>
            <input type="number" value="<%= this_star.x %>" name="x"><br>
            <input type="number" value="<%= this_star.y %>" name="y"><br>
            <input type="text" value="<%= this_star.campaign %>" name="campaign"><br>
            <textarea name="text" cols="40" rows="5"><%= this_star.text %></textarea>
        </form>

      </div>

    
  </div>


<% } else { %>

  <div ><a href="/auth/google">google</a>  </div>
  <div ><a href="/auth/github">github</a>  </div>

<% } %>





<script>
$('body').find('br').replaceWith("\n");
$('body').find('p').each(function() {

    $(this).replaceWith("<p>" + $(this).text().replace(/\n/g, '<p>') + "</p>");
});
</script>

  <script src="main.js"></script>


<!-- 

  <div>
    <h2>update</h2>
    <button id="update"> Update </button>
  </div>

  <script src="main.js"></script> -->

</body>
</html>